*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display:flex;
    color:white;
    background-color: black;
    height:80px;
    justify-content: space-between;
    align-items: center;
}

nav div{
    width: 50%;
    display:flex;
    justify-content: flex-start;
    padding-left: 100px;
    
}
img{
    height: auto;
    width: auto;
    max-width: 190px;
    max-height: 190px;
}
nav ul{
    display:flex;
    width: 50%;
    list-style: none;
    justify-content: space-evenly;
    
}

nav ul li a{
    text-decoration: none;
    color:white;
}

.cuerpo{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

body{
    background-color:rgb(87, 87, 246);
}

.letras1{
    color:azure
}

.letras2{
    color: chartreuse;
}

.cajaletras{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    margin-top:160px;
        
}

.aside1 img{ 
    height: auto;
    width: auto;
    max-width: 950px;
    max-height: 380px;
    

}


.aside1{
    margin-top:50px;
    margin-bottom:50px;
    width:30%;
    height:380px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.recorte1{
    width:100%;
    height:200px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.recorte1 img{
    height: auto;
    width: auto;
    max-width: 1300px;
    max-height: 600px;
}

.recorte2{
    width:100%;
    height:150px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 80px;
    padding-right:70px;
    background-color:rgb(87, 87, 246);
}

.recorte2 div{
    color:azure;
   
    
}
.recorte2 div h1{
    height:100%;
}
.recorte2 div h2{
    margin-left: 60px;
}
.recorte3{
    width:100%;
    height:580px;   
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    background-color: black;
}

.recorte3 div{
    color:black;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 150px;
    height:100%;
    background-color: whitesmoke;
    text-align: center;
    padding-top: 50px;
    border-radius: 1rem;
}

.recorte3 div h3{
    margin: 20px;
}

.button{
    border-radius:8px;
    color: black;
    padding:5px;
    letter-spacing: .05rem;
    align-self: flex-end;
    margin-bottom: 100px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}


.recortenuevo{
    width:100%;
    height: 200px;
    padding-top: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.recortenuevo div{
    color: azure;
    
}
.recortenuevo div h3{
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 15px;
}

.footer{
    display:flex;
    color:white;
    background-color: black;
    height:100px;
    width:100%;
    justify-content: center;
}

footer div{
    width: 250px;
    display:flex;
    justify-content: space-between;


}

footer div img{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 1500px;
}

