*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display:flex;
    color:white;
    background-color: black;
    height:80px;
    justify-content: space-between;
    align-items: center;
}

body{
    background-color:black;
}

nav div{
    width: 50%;
    display:flex;
    justify-content: flex-start;
    padding-left: 100px;
    
}
img{
    height: auto;
    width: auto;
    max-width: 190px;
    max-height: 190px;
}
nav ul{
    display:flex;
    width: 50%;
    list-style: none;
    justify-content: space-evenly;
    
}

nav ul li a{
    text-decoration: none;
    color:white;
}

.imagenes1{
    display:flex;
    justify-content: space-evenly;
    height:500px;
    background-color: white   
}

.texto1{
    display:flex;
    justify-content: space-evenly;
    height:200px;
    width: 90%;
    margin-left: 60px;
    padding-top: 20px;

}
.texto1 div{
    padding-left:120px;
    padding-right: 100px;
    display:flex;
    justify-content: space-between;
    
}

.texto1 div p{
    color: azure;
    margin-left: 5px;
    
}

.imagenes1 div{
   display: flex;
   height:100%;
    
}

.imagenes1 img{
    margin-top: 30px;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 800px;

}

.footer{
    display:flex;
    color:white;
    background-color: black;
    height:100px;
    width:100%;
    justify-content: center;
    
}

footer li{
    width: 250px;
    height: 70px;
    display:flex;
    justify-content: space-evenly;
    margin-top: 20px;
    

}

footer li img{
    height: auto;
    width: auto;
    max-width: 80%;
    max-height: 70px;
}