*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}   

.lineasGrid{
    display: grid;
    height: 50vh;
    width: 100vh;
    grid-template-columns: [x0]1fr [x1]1fr [x2]1fr [x3]1fr [x4];
    grid-template-rows: [y0]1fr [y1]2fr [y2]1fr [y3]1fr [y4];
}

.header{
    grid-column-start: x0;
    grid-column-end: x4;
    grid-row-start: y0;
    grid-row-end: y1;

    background-color: black;
    color:white;
    text-align: center;
    font-size: x-large;
    height: 50px;
}

.contenido{
    grid-column-start: x0;
    grid-column-end: x3;

    grid-row-start: y1;
    grid-row-end: y2;
    background-color: blue;
    height: 90px;
    color:white;
    padding: 7px;
}

.hijo1{
    border: 1px solid white;
    height:70px;
    padding-left:3px ;
    
}

.textos{
    grid-column-start: x0;
    grid-column-end: x3;

    grid-row-start: y2;
    grid-row-end: y3;
    background-color: blue;
    height: 170px;
    display: grid;
    grid-template-columns: [x0]1fr [x1]1fr [x2];
    grid-template-rows: [y0]1fr [y1];
    padding-left: 7px;
    padding-right: 7px;
    margin-top: -5px;
    color: white;
    font-size: small;
}
.texto1{
    border: 1px solid white;
    background-color: blue;
    height: 170px;
    width: 300px;
    padding-left:3px ;

}

.texto2{
    border: 1px solid white;
    background-color: blue;
    height: 170px;
    margin-left: 7px;
    padding-left:3px ;
   
}
.hijo2{
    grid-column-start: x3;
    grid-column-end: x4;

    grid-row-start: y1;
    grid-row-end: y3;
    background-color:rgb(40, 236, 145);
    padding:5px;
}

.footer{
    grid-column-start: x0;
    grid-column-end: x2;

    grid-row-start: y3;
    grid-row-end: y4;
    background-color:blueviolet;
    padding: 3px;
    color: white;
    text-align: center;
}

.foot{
    border: 1px solid black;
    height: 30px;
}

.contacto{
    grid-column-start: x2;
    grid-column-end: x4;

    grid-row-start: y3;
    grid-row-end: y4;
    background-color:blueviolet;
    padding: 3px;
    color: white;
    text-align: center;
}

.contact{
    border: 1px solid black;
    height: 30px;
}

.menu1{
    border:1px solid black;
    height:60px;
    text-align: center;
    color: white;
    
}

.Menus{
    border:1px solid black;
    height:60px;
    margin-top: 3px;
    color: white;
    background-color: black;
    text-align: center;
    font-size: small;
}
/* .hijo1{
    grid-area:header;
    background-color: black;
    color:white;
    text-align: center;
    
}

.hijo2{
    grid-area: contenido;
    background-color: blue;
}

.hijo2_2{
    grid-area: menu;
    background-color: rgb(40, 236, 145);
}

.hijo2_2 h1{
    color: white;
}

.Menus{
    background-color: black;
    color: white;
}

.footer{
    grid-area: footer;
    background-color: blueviolet;
}

.contacto{
    grid-area: contacto;
    background-color: blueviolet;
} */